<a href="https://colab.research.google.com/github/Bryantoropn/Datmin-Decission-Tree/blob/main/Decission_Tree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Decision Tree
- Reference: **Tan, Steinbach, Kumar**
- Created by: **Tio Dharmawan**, Program Studi Teknologi Informasi, Fakultas Ilmu Komputer, Universitas Jember, 2021
- E-mail: tio.pssi@unej.ac.id

## Review
Gini Index:

- $GINI(t)= 1-\sum_{j}{[p(j|t)]^2}$

Entropy:

- $Entropy(t)=-\sum_{j}{p(j|t) log(p|t)}$

Missclassification Error:

- $Error(t)=1-max p(j|t)$

<br/>

### Hitung Impurity P
dengan data:
- C1: 5
- C2: 5

**Gini Index**

In [ ]:
gini = 1 - ((5/10)**2 + (5/10)**2)
gini

0.5

In [ ]:
import numpy as np
data = np.array([5, 5]) # membuat numpy array tujuannya untuk memanfaatkan fungsi sum pada numpy array
sum = 0 # variabel untuk menampung jumlah dari probabilitasnya
for i in data: # untuk mendapatkan setiap nilai pada variabel data
  p = (i/data.sum())**2 # (j/t)**2 => (5/10)**2
  sum += p # proses sum ditambahkan pada variabel yang ada pada line-3
gini = 1- sum # gini 1 - jumlah probabilitas 
gini

0.5

In [ ]:
def gini(data):
  sum = 0 
  for i in data: 
    p = (i/data.sum())**2 
    sum += p
  gini = 1- sum
  return gini

In [ ]:
data = np.array([5, 5])
gini(data)

0.5

**Entropy**

In [ ]:
entropy = -1 * ((5/10)*math.log(5/10)+(5/10)*math.log(5/10))
entropy

0.6931471805599453

In [ ]:
data = np.array([5, 5])
jumlah_data = data.sum()
sum = 0
for i in data:
  p = i/jumlah_data
  p = p*math.log(p)
  sum += p
entropy = -1*sum
entropy

0.6931471805599453

In [ ]:
def entropy(data):
  jumlah_data = data.sum()
  sum = 0
  for i in data:
    p = i/jumlah_data
    p = p*math.log(p)
    sum += p
  entropy = -1*sum
  return entropy

In [ ]:
data = np.array([5, 5])
entropy(data)

0.6931471805599453

**Missclassification Error**

In [ ]:
p1 = 5/10
p2 = 5/10
error = 1 - max(p1, p2)
error

0.5

In [ ]:
data = np.array([5, 5])
jumlah_data = data.sum()
p = []
for i in data:
  p_internal = i/jumlah_data
  p.append(p_internal)
error = 1 - max(p)
error

0.5

In [ ]:
def miss_error(data):
  jumlah_data = data.sum()
  p = []
  for i in data:
    p_internal = i/jumlah_data
    p.append(p_internal)
  error = 1 - max(p)
  return error

In [ ]:
data = np.array([5, 5])
miss_error(data)

0.5

### Hitung Impurity Q
dengan data:
- C0: 9
- C1: 1

**Gini Index**

In [ ]:
gini = 1 - ( (1/10)**2 + (9/10)**2 )
gini

0.17999999999999994

In [ ]:
data = np.array([3,3])
round(gini(data),3)

0.5

**Entropy**

In [ ]:
entropy = -1 * ( (1/10 * math.log(1/10)) + (9/10 * math.log(9/10)))
entropy

0.3250829733914482

In [ ]:
data = np.array([9,1])
entropy(data)

0.3250829733914482

**Missclassification Error**

In [ ]:
p1 = 1/10
p2 = 9/10
error = 1 - max(p1, p2)
error

0.09999999999999998

In [ ]:
data = np.array([9,1])
miss_error(data)

0.09999999999999998

## 1. Importing Library
--------------------------------
Import beberapa library pendukung seperti pandas, numpy, dan juga math

In [ ]:
import pandas as pd
import numpy as np
import math

## 2. Preparing Data Using Pandas
---------------------------------------------

In [ ]:
data = pd.DataFrame({
    'customer_id':[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20],
    'gender':['M','M','M','M','M','M','F','F','F','F','M','M','M','M','F','F','F','F','F','F'],
    'car_type':['Family','Sports','Sports','Sports','Sports','Sports','Sports','Sports','Sports','Luxury','Family','Family','Family','Luxury','Luxury','Luxury','Luxury','Luxury','Luxury','Luxury'],
    'shirt_size':['Small','Medium','Medium','Large','Extra Large','Extra Large','Small','Small','Medium','Large','Large','Extra Large','Medium','Extra Large','Small','Small','Medium','Medium','Medium','Large'],
    'class':['0','0','0','0','0','0','0','0','0','0','0','1','1','1','0','1','1','1','1','1']
})
columns = data.columns.tolist()
columns.remove('customer_id')
columns.remove('class')
data

    customer_id gender car_type   shirt_size class
0             1      M   Family        Small     0
1             2      M   Sports       Medium     0
2             3      M   Sports       Medium     0
3             4      M   Sports        Large     0
4             5      M   Sports  Extra Large     0
5             6      M   Sports  Extra Large     0
6             7      F   Sports        Small     0
7             8      F   Sports        Small     0
8             9      F   Sports       Medium     0
9            10      F   Luxury        Large     0
10           11      M   Family        Large     0
11           12      M   Family  Extra Large     1
12           13      M   Family       Medium     1
13           14      M   Luxury  Extra Large     1
14           15      F   Luxury        Small     0
15           16      F   Luxury        Small     1
16           17      F   Luxury       Medium     1
17           18      F   Luxury       Medium     1
18           19      F   Luxury       Medium     1
19           20      F   Luxury        Large     1

## Gini Index

In [ ]:
by_class = data.groupby(['class'])['class'].count().reset_index(name='count')
total_data = data.shape[0]
by_class_list = by_class['count'].to_numpy()
gini_parent = gini(by_class_list)
print('Gini Parent: ', gini_parent)

Gini Parent:  0.48

In [ ]:
by_gender = data.groupby(['gender','class'])['gender'].count().reset_index(name='count')
uq_value_gender = by_gender['gender'].unique()
gini_children = dict()
for i in uq_value_gender:
  sliced = by_gender[by_gender['gender']==i]['count']
  gini_children[i] = gini(sliced)

# weighted_gini
weighted_gini = 0
for i in uq_value_gender:
  sliced = by_gender[by_gender['gender']==i]['count']
  weighted_gini += sliced.sum() / total_data * gini_children[i]

gain = gini_parent - weighted_gini

0.019999999999999962

In [ ]:
def gini_index(data, columns):
  result = dict()
  for j in columns:
    by_gender = data.groupby([j,'class'])[j].count().reset_index(name='count')
    uq_value_gender = by_gender[j].unique()
    gini_children = dict()
    for i in uq_value_gender:
      sliced = by_gender[by_gender[j]==i]['count']
      gini_children[i] = gini(sliced)

    # weighted_gini
    weighted_gini = 0
    for i in uq_value_gender:
      sliced = by_gender[by_gender[j]==i]['count']
      weighted_gini += sliced.sum() / total_data * gini_children[i]

    gain = gini_parent - weighted_gini
    result[j] = gain
  return result

In [ ]:
gini_index(data, columns)

{'car_type': 0.22999999999999998,
 'gender': 0.019999999999999962,
 'shirt_size': 0.05357142857142855}

In [ ]:
data[data['gender']=='F']

    customer_id gender car_type shirt_size class
6             7      F   Sports      Small     0
7             8      F   Sports      Small     0
8             9      F   Sports     Medium     0
9            10      F   Luxury      Large     0
14           15      F   Luxury      Small     0
15           16      F   Luxury      Small     1
16           17      F   Luxury     Medium     1
17           18      F   Luxury     Medium     1
18           19      F   Luxury     Medium     1
19           20      F   Luxury      Large     1

### Data Slicing

In [ ]:
by_gender = data.groupby(['class','gender'], as_index=True)['gender'].count().reset_index(name='count')
by_gender

  class gender  count
0     0      F      5
1     0      M      7
2     1      F      5
3     1      M      3

## 3. Impurity Function
--------------------------------

### 3.1 GINI

In [ ]:
def gini(x):
    '''
    Tipe data parameter x harus list
    Gender:
    M
        C0: 5
        C1: 5
    x = [5, 5]
    '''
    num_data = sum(x)
    sigma = 0
    for i in x:
        sigma += (i/num_data)**2
    return 1-sigma

### 3.2 Entropy

In [ ]:
def entropy(x):
    num_data = sum(x)
    sigma = 0
    for i in x:
        sigma += (i/num_data)*math.log(i/num_data)
    return sigma*-1

### 3.3 Missclassification Error

In [ ]:
def miss_error(x):
    num_data = sum(x)
    max_val = 0
    for i in x:
        max_val = max(max_val, (i/num_data))
    return 1-max_val

## 4. Calculate All Data Frame Impurity
---------------------------------------------------

In [ ]:
def impurity(dataset, cols, method=0):
    '''
    Method: 0 for gini (default), 1 for entropy, 2 for missclassification error
    '''
    impurity = dict()
    method_list = ['gini', 'entropy', 'miss_error']
    method = method_list[method]
    
    class_data = dataset.groupby(['class'], as_index=True)['class'].count().reset_index(name='count')
    impurity['class'] = globals()[method](list(class_data['count']))
    
    cols.remove('class')
    for col in cols:
        sliced = dataset.groupby(['class',col], as_index=True)[col].count().reset_index(name='count')
        num_data = sum(sliced['count'])
        unique_value = sliced[col].unique()
        tmp = dict()
        for val in unique_value:
            sliced_by_value = list(sliced[sliced[col]==val]['count'])
            tmp[val] = globals()[method](sliced_by_value)*(sum(sliced_by_value)/num_data)
        impurity[col] = tmp
    return impurity

### Test Function Using Dataset|

In [ ]:
from pprint import pprint
data_impurity = impurity(data, columns.copy())
pprint(data_impurity,width=1)

{'car_type': {'Family': 0.1,
              'Luxury': 0.15000000000000002,
              'Sports': 0.0},
 'class': 0.48,
 'gender': {'F': 0.25,
            'M': 0.21000000000000002},
 'shirt_size': {'Extra Large': 0.1,
                'Large': 0.07500000000000001,
                'Medium': 0.17142857142857146,
                'Small': 0.07999999999999996}}

## Training
---------------
### 1st node

In [ ]:
data_impurity_1st = data_impurity.copy()
class_impurity = data_impurity_1st['class']

gain = dict()
data_impurity_1st.pop('class')
for key in data_impurity_1st.keys():
    gain[key] = class_impurity - sum(data_impurity_1st[key].values())
pprint(gain)
max_gain = sorted(gain, key=gain.get, reverse=True)[0]
print('\nMaximal Information Gain: ', max_gain,'(',gain[max_gain],')')

{'car_type': 0.22999999999999998,
 'gender': 0.019999999999999962,
 'shirt_size': 0.05357142857142855}

Maximal Information Gain:  car_type ( 0.22999999999999998 )